<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :school_year %><br />
    <%= f.number_field :school_year, min: '1',  max: '6', placeholder: "例：１", required: true, class: "form-control" %>年
  </div>

  <div class="field">
    <%= f.label :school_class %><br />
    <%= f.number_field :school_class, min: '1',  max: '41', placeholder: "例：３", required: true, class: "form-control" %>組
  </div>

  <div class="field">
    <%= f.label :charge %><br />
    <%= f.text_field :charge, placeholder: "例：会計など", required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
