<div class="container_position">
  <div class="container">
    <div class="contents">
      <%= form_with(model: [@team, @report], local: true, url: choose_new_or_edit ) do |form| %>
        <% if @report.errors.any? %>
          <div id="errors_explanation">
            <h3><%= @report.errors.count %>件のエラーがあります。</h3>
            <ul>
            <% @report.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
        <div class="report_title">
          <%= form.label :タイトル %>
          <%= form.text_field :title %>
        </div><br>
        <div class="report_content">
          <%= form.label :内容 %>
          <%= form.text_area :content %>
        </div>
        <br>
        <div class="report_date">
          <%= form.label :実施日 %>
          <%= form.date_select :date, start_year: Date.today.year - 1, class: 'form-control' %>
        </div>
        <br>
        <div class="report_place">
          <%= form.label :作業場所 %>
          <%= form.text_field :place, class: 'form-control' %>
        </div>
        <br>
        <div class="report_time">
          <%= form.label :所要時間 %>
          <p><%= form.number_field :time, placeholder: "0.5時間(30分)単位で入力", step: '0.5' , min: '0.5', max: '24', class: 'form-control' %>時間</p>
        </div>
        <div class="report_image">
          <%= form.label :image %>
          <%= image_tag(@report.image.url) if @report.image && @report.image.url %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
        </div>
        <br>
        <div class="actions">
          <%= form.hidden_field :team_id, value: @team.id %>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
