<%= form_with(model: @report, local: true, url: confirm_reports_path) do |form| %>
  <% if @report.errors.any? %>
    <div id="errors_explanation">
      <h2><%= @report.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="report_title">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>
  <div class="report_content">
    <%= form.label :内容 %>
    <%= form.text_field :content %>
  </div>
  <div class="report_date">
    <%= form.label :実施日 %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>
  <div class="report_place">
    <%= form.label :作業場所 %>
    <%= form.text_field :place, class: 'form-control' %>
  </div>
  <div class="report_time">
    <%= form.label :所要時間 %>
    <%= form.number_field :time, step: '0.5' , class: 'form-control' %>時間
  </div>
  <div class="report_image">
    <%= form.label :画像 %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>
  <%= form.submit %>
<% end %>
