<%= form_with(model:[@team, @report], local: true, url: choose_new_or_edit ) do |form| %>
  <% if @report.errors.any? %>
    <div id="errors_explanation">
      <h2><%= @report.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="report_title">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div><br>
  <div class="report_content">
    <%= form.label :内容 %>
    <%= form.text_area :content %>
  </div>
  <div class="report_date">
    <%= form.label :実施日 %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>
  <div class="report_place">
    <%= form.label :作業場所 %>
    <%= form.text_field :place, class: 'form-control' %>
  </div>
  <div class="report_time">
    <%= form.label :所要時間 %>
    <%= form.number_field :time, step: '0.5' , class: 'form-control' %>時間
  </div>
  <div class="report_image">
    <%= form.label :image %>
    <%= image_tag(@report.image.url) if @report.image && @report.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
