<% if current_user.try(:admin?) %>
  <h1>Reports_admin</h1>
<% else %>
  <h1>Reports</h1>
<% end %>
<h1>レポート一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>レポートタイトル</th>
    <th>レポート内容</th>
    <th>実行日</th>
    <th>作業場所</th>
    <th>所要時間</th>
  </tr>
<% @reports.each do |report| %>
  <tr>
    <td><%= report.title %></td>
    <td><%= report.content %></td>
    <td><%= report.date %></td>
    <td><%= report.place %></td>
    <td><%= report.time %>時間</td>
    <td><%= link_to '詳細を確認する', report_path(report.id) %></td>
    <td><%= link_to "レポートを編集する", edit_report_path(report.id) %></td>
    <td><%= link_to "レポートを削除する", report_path(report.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %></td>
  </tr>
<% end %>
<%= link_to '新しくレポートを投稿する', new_report_path %>
</table>
