<div class="container">
  <h1>レポート詳細画面</h1>
  <p>By:<%= @report.user.email %></p>
  <p>タイトル: <%= @report.title %></p>
  <p>内容: <%= @report.content %></p>
  <p>実施日: <%= @report.date %></p>
  <p>場所: <%= @report.place %></p>
  <p>所要時間: <%= @report.time %>時間</p>
  <p>所要合算: <%= @total_time %>時間</p>
  <p>画像:<%= image_tag(@report.image.url) if @report.image && @report.image.url %></p>

<% if @report.user.id == current_user.id %>

<%# <%= link_to '編集', edit_report_path(@report) %> <% end %> %>
<%# <%= link_to '戻る', team_reports_path(@team) %> %>
<hr>

<div id="report_comments_area">
  <h2>コメント一覧</h2>
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'report_comments/index', locals: { report_comments: @report_comments, report: @report } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'report_comments/form', locals: { report_comment: @report_comment, report: @report } %>
</div>
