<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @report.title %></p>
<p>内容: <%= @report.content %></p>
<p>実施日: <%= @report.date %></p>
<p>場所: <%= @report.place %></p>
<p>所要時間: <%= @report.time %>時間</p>
<p>画像:<%= image_tag @report.image.url %></p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
