<!DOCTYPE html>
<html>
  <head>
    <title>SharePta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if user_signed_in? %>
        <% if current_user.leader? %>
          <%# <%= link_to "レポート一覧", team_reports_path(team.id) %> %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to 'チームを作成する', teams_path %>
        <% end %>
         <%# <% binding.irb %> %>
        <%= link_to "チーム一覧", teams_path %>

        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <%= link_to "マイページ", user_path(current_user.id) %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>




    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
